{% verbatim %}
<div class="container">
    <div class="row">
        <div style="padding-top: 5%" class="col m8 offset-m1 s12">
            <div class="card wrapper">
                <div class="card-content">
                    <div class="row">
                        <div class="col m8" style="text-align: left">
                            <a href="/" class="login-button btn" style="font-size: 15px">
                                Back
                            </a>
                        </div>
                        <div class="col" style="text-align: right">
                            <a href="https://docs.google.com/spreadsheets/d/1AdszEocrIG_wgClIp6DIej8qIz_68u5Rl9XBTl-Njy0/edit?usp=sharing"  target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                                Clothing Swap
                            </a>
                        </div>
                    </div>
                    <br><br>
                    <div class="title" style="text-align: center">
                        Attire
                    </div>
                    <div class="row" style="text-align: left">
                        <div class="subtitle-lato">
                            <big>Recruitment Attire Checks Schedule</big><br>
                            <em>***You must get your outfits checked or you will not be allowed into the party and that will count as a (fineable) missed Recruitment Day***</em>
                            Couple of Notes:<br>
                            • You may get your outfits for different days checked in parts but all attire for one day must be checked at once<br>
                            • Do not purchase non-refundable merchandise—keep receipts and don’t take tags off until outfits are approved<br>
                            • Please note, we will only approve outfits in person. We can give advice or suggestions over text/ Facebook (study abroad people must get approved over Video Chat—contact us for scheduling)<br>
                            • Outfits must be checked by the end of Classes- 12/9.<br>
                            <br>
                            <small>
                            <table border="1" class="striped">
                                <thead>
                                    <tr>
                                        <th>DATE</th>
                                        <th>TIME</th>
                                        <th>LOCATION</th>
                                        <th>PERSON THERE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Monday 11/28</td>
                                        <td>8-9:30pm</td>
                                        <td>Suite</td>
                                        <td>Felice, Elaine</td>
                                    </tr>
                                    <tr>
                                        <td>Monday 11/28</td>
                                        <td>8-9:30pm</td>
                                        <td>Suite</td>
                                        <td>Felice, Elaine</td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday 11/29</td>
                                        <td>5:30-6:30pm</td>
                                        <td>Suite</td>
                                        <td>Anna, Elaine</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday 12/1</td>
                                        <td>1-3pm</td>
                                        <td>Suite</td>
                                        <td>Elaine</td>
                                    </tr>
                                    <tr>
                                        <td>Sunday 12/4</td>
                                        <td>11am-12pm (before chapter)</td>
                                        <td>Suite</td>
                                        <td>Felice, Elaine, Ryan</td>
                                    </tr>
                                    <tr>
                                        <td>Sunday 12/4</td>
                                        <td>3pm (after chapter)</td>
                                        <td>Suite</td>
                                        <td>Felice, Elaine, Wenny</td>
                                    </tr>
                                    <tr>
                                        <td>Sunday 12/4</td>
                                        <td>3pm (after chapter)</td>
                                        <td>Suite</td>
                                        <td>Felice, Elaine, Wenny</td>
                                    </tr>
                                    <tr>
                                        <td>Monday 12/5</td>
                                        <td>8-9:30pm</td>
                                        <td>Suite</td>
                                        <td>Elaine, Ryan, Adriana</td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday 12/6</td>
                                        <td>11:30am-1pm</td>
                                        <td>Suite</td>
                                        <td>Anna, Wenny</td>
                                    </tr>
                                    <tr>
                                        <td>Wednesday 12/7</td>
                                        <td>2:30-4pm</td>
                                        <td>Suite</td>
                                        <td>Felice</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday 12/8</td>
                                        <td>2:30-4pm</td>
                                        <td>Suite</td>
                                        <td>Anna, Emma</td>
                                    </tr>
                                    <tr>
                                        <td>*LAST ONE Friday 12/9</td>
                                        <td>12-4pm</td>
                                        <td>Suite</td>
                                        <td>Elaine, Emily</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="logout" style="text-align:right; padding-right: 5px">
                            <br>
                            <a href="/auth/logout" class="login-button btn">
                                LOGOUT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
