{% verbatim %}
<div class="container">
    <div class="row">
        <div style="padding-top: 5%;" class="col m8 offset-m2 s12">
            <div class="card wrapper">
                <div class="card-content">
                    <div class="buttons">
                        <div>
                            <a href="/" class="login-button btn" style="font-size: 15px">
                                Back
                            </a>
                            <a href="https://docs.google.com/presentation/d/1h84rSMoJXwGICuOupwUPYq2O4jnRkhwoFRyir-2MUIs/edit?usp=sharing"  target="_blank" class="login-button btn right" style="padding: 5px; font-size: 10px">
                                Clothing PPT
                            </a>
                        </div>
                    </div>
                    <br><br>
                    <div class="title" style="text-align: center">
                        Recruitment Reminders &amp; Details
                    </div>
                    <div class="row" style="text-align: left">
                        <div class="subtitle-lato">
                            <div style="margin-bottom: 8px; margin-top: 6px;">
                                <big>Schedule Details: </big>
                            </div>
                            <div style="margin-top: 10px;">
                                <strong>*if you are late, your bump group will be docked points as part of the competition </strong>
                            </div>
                            <div class="paragraph">
                                <p>
                                    <em>Day 1: 1/9</em><br>
                                    Theme: PJ Day!<br>
                                    When: by 5p <br>
                                    Where: Seigle L006<br><br>

                                    <em>Day 2: 1/10</em><br>
                                    Theme: Favorite Emoji Day!<br>
                                    When: 8:30a Bump Heads,
                                    8:45a Everyone else<br>
                                    Where: Seigle L006<br><br>

                                    <em>Day 3: 1/11</em><br>
                                    Theme: Wear your Preferences Day makeup!<br>
                                    When: 8:30a Bump Heads,
                                    8:45a Everyone else<br>
                                    Where: DUC Formal Lounge<br>
                                </p>
                            </div>
                        </div>
                        <div class="subtitle-lato">
                            <div style="margin-bottom: 8px; margin-top: 6px;">
                                <big>What to Bring: </big>
                            </div>
                            <div style="margin-top: 10px;">
                                <strong>All Pre-Recruitment Days</strong>
                            </div>
                            <div class="paragraph">
                                <p>
                                    <em>*Reminder: pre-recruitment days will go from the morning to evening (including dinner) so please bring what you may need accordingly. Also dress up for each day (it will be even more fun!) </em><br>
                                    No clothes/ accessories with letters on them<br>
                                    Small notebook/ paper<br>
                                    Pen<br>
                                    Water bottle<br>
                                    Snacks<br>
                                    Lunch, Dinner and/or money to buy (except for 1/9, we will be providing dinner)<br>
                                    Enthusiasm &amp; an excited attitude <br>
                                </p>
                            </div>
                            <div style="margin-top: 10px;">
                                <strong>All Recruitment Days</strong>
                            </div>
                            <div class="paragraph">
                                <p>
                                    <em>*Reminders: for each day we will be busy from the early morning until the night so bring anything you may possibly need. You are expected to come with hair and makeup done but bring reinforcements. Hair &amp; makeup should be natural yet polished (aka not just rolled out of the shower). Think job interview, fancy family occasion, etc, what you feel most comfortable in but what represents the best you. </em><br>
                                    Bag for all of your fun stuff below<br>
                                    Water bottle<br>
                                    Water, Coffee, Tea, any other liquids for hydration <br>
                                    Cough drops<br>
                                    Honey <br>
                                    Tea Bags<br>
                                    Hot Water Kettle if you have one<br>
                                    Band-Aids <br>
                                    Deodorant <br>
                                    Hairbrush <br>
                                    Hairspray if needed <br>
                                    Hand mirror <br>
                                    Makeup &amp; Makeup wipes <br>
                                    Mints &amp; Gum<br>
                                    Chapstick <br>
                                    Tissues<br>
                                    Toothbrush / floss <br>
                                    Pads / tampons <br>
                                    Medication—Advil, Tums, etc. <br>
                                    Small notebook/paper <br>
                                    Pen<br>
                                    Sweater/sweatshirt, sweatpants and comfortable shoes for before/after/breaks NO LETTERS!!<br>
                                    NO WATCHES &amp; RINGS<br>
                                    Camera to take pictures :)<br>
                                    Nails- clear or light pink coat or not painted &amp; clean<br>
                                    Snacks- non-messy, nothing that will get stuck in your teeth, high energy snacks. <br>

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="logout right" style="padding-right: 20px; margin-bottom: 15px;">
                            <br>
                            <a href="/auth/logout" class="login-button btn">
                                LOGOUT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
