{% verbatim %}
<div class="container">
    <div class="row">
        <div style="padding-top: 5%;" class="col m8 offset-m2 s12">
            <div class="card wrapper">
                <div class="card-content">
                    <div class="buttons">
                        <div>
                            <a href="/" class="login-button btn" style="font-size: 15px">
                                Back
                            </a>
                            <a href="https://docs.google.com/spreadsheets/d/1AdszEocrIG_wgClIp6DIej8qIz_68u5Rl9XBTl-Njy0/edit?usp=sharing"  target="_blank" class="login-button btn right" style="margin-left: 6px; padding: 5px; font-size: 10px">
                                Clothing Swap
                            </a>
                            <a href="https://docs.google.com/presentation/d/1h84rSMoJXwGICuOupwUPYq2O4jnRkhwoFRyir-2MUIs/edit?usp=sharing"  target="_blank" class="login-button btn right" style="padding: 5px; font-size: 10px">
                                Clothing PPT
                            </a>
                        </div>
                    </div>
                    <br><br>
                    <div class="title" style="text-align: center">
                        Attire
                    </div>
                    <div class="row" style="text-align: left">
                        <div class="subtitle-lato">
                            <div style="margin-bottom: 8px; margin-top: 6px;">
                                <big>Recruitment Attire Checks Schedule</big>
                            </div>
                            <em>***You must get your outfits checked or you will not be allowed into the party and that will count as a (fineable) missed Recruitment Day***</em>
                            <div style="margin-top: 10px;">
                                <strong>Couple of Notes:</strong>
                            </div>
                            <ul style="list-style-type: disc; padding-left: 36px; margin-top:4px;">
                                <li style="list-style-type: disc;">You may get your outfits for different days checked in parts but <big>all attire for one day must be checked at once</big></li>
                                <li style="list-style-type: disc;">Do not purchase non-refundable merchandise—keep receipts and don’t take tags off until outfits are approved</li>
                                <li style="list-style-type: disc;">Please note, we will only approve outfits in person. We can give advice or suggestions over text/ Facebook (study abroad people must get approved over Video Chat—contact us for scheduling)</li>
                                <li style="list-style-type: disc;">Outfits must be checked by the end of classes—12/9.</li>
                            </ul>
                            </div>
                            <table border="1" class="striped">
                                <thead>
                                    <tr>
                                        <th>DATE</th>
                                        <th>TIME</th>
                                        <th>LOCATION</th>
                                        <th>PERSON THERE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Thursday 12/8</td>
                                        <td>2-4pm</td>
                                        <td>Suite</td>
                                        <td>Felice, Elaine, Emma</td>
                                    </tr>
                                    <tr>
                                        <td>*LAST ONE Friday 12/9</td>
                                        <td>12-4pm</td>
                                        <td>Suite</td>
                                        <td>Elaine, Emily</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="logout right" style="padding-right: 20px; margin-bottom: 15px;">
                            <br>
                            <a href="/auth/logout" class="login-button btn">
                                LOGOUT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
