{% verbatim %}
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="949315674402-adp43f1anpdi57ajb7liccbkfet1avjl.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card wrapper auth-wrapper">
                <div class="card-content">

                    <div class="title">
                        Welcome to AOII Recruitment Notebook
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
