{% verbatim %}
<div class="container">
    <div class="row">
        <div style="padding-top: 20%"class="col s3">
            <div class="card wrapper auth-wrapper">
                <div class="card-content">
                    <p class="title-lato">
                        Forms
                    </p>

                    <a href="https://goo.gl/forms/qZZC9QQlsCoPDHtr1" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                        Contact Info
                    </a><br><br>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5pYz4-s7AEvYW2j96J0azhTRtj00K-MhFZYJ3WG9WeWZiMw/viewform"  target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                        Hat Lend (phi)
                    </a><br><br>
                    <a href="/"  target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                    </a>
                </div>
            </div>
            <div class="card wrapper auth-wrapper">
                <div class="card-content">
                    <p class="title-lato">
                        Attire
                    </p>
                    <a href="https://goo.gl/forms/qZZC9QQlsCoPDHtr1" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                        Outfits
                    </a><br><br>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5pYz4-s7AEvYW2j96J0azhTRtj00K-MhFZYJ3WG9WeWZiMw/viewform"  target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                        Outfit Hours
                    </a><br><br>
                    <a href="/"  target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                        Clothing Swap
                    </a>
                </div>
            </div>
        </div>
        <div class="col s8 offset-s1">
            <div class="card wrapper auth-wrapper">
                <div class="card-content">

                    <div class="title">
                        Welcome to AOII Recruitment Notebook
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="user-holder" style="padding-top: 20px;">
                        </div>
                        <div class="logout" style="text-align:right; padding-right: 5px">
                            <br>
                            <a href="/auth/logout" class="login-button btn">
                                LOGOUT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
