{% verbatim %}
    <div class="name">
        <p class="title-lato" style="padding-bottom: 15px">
            <em>*Be sure to log out when you are done*</em>
        </p>
    </div>
    <div class="subtitle-lato">
        <p>
          <b><big>Outfits</big></b><br>
          <p>All outfits <b>must</b> be checked in person by December 9th. All outfit checks will be held in the AOII suite.</p>
          <em>Remaining outfit check times:</em><br>
          November 27th from 8:30-10:30pm <br>
          November 30th from 8:30-10:30pm <br>
          December 3rd from 2:00pm-4:30pm <br>
          December 5th from 8:30-10:30pm <br>
          December 7th from 8:30-10:30pm <br>
          December 9th from 1:00-3:00pm
 <br> <br>

 <p class="title-lato">
     <a href="https://docs.google.com/spreadsheets/d/1s9qI9DDT4HcQIEBEMV6uL04ZsXmqGpWq8ybO7PyIfd8/edit#gid=0" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
         Housing Form
     </a>
 </p> <br>
 <p class="subtitle-lato">
   ^^^ Please fill this form out by December 5th. <em>This form is so that you have access to your dorm room during pre-recruitment/recruitment. You only need to fill out the column highlighted in yellow: student ID, building name, ROOM (not suite) number, and the date you are returning. (Most of you should be returning on January 8th. Reminder: ERC should be coming back on January 7th- unless you've spoken to me.) If you live off campus in res-life housing, please write your address and room number. If you live off campus in non-reslife housing, please write that you live in non-reslife housing in the column that says building name- and leave the other columns blank. Thank you!</em>
 </p> <br> <br>
          <p class="title-lato">
              <a href="https://docs.google.com/spreadsheets/d/1LudR3JsKlScw8vMO079eO0yAGxwR0cMKT_7MuqyIDXM/edit?usp=sharing" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                  Outfit Sharing Doc
              </a>
          </p> <br> <br>

          <p class="title-lato">
              <a href="https://docs.google.com/spreadsheets/d/1i1UXpxDQRGAvcCC32k7FGJkhuygUQKS5R-RXsHbMnGs/edit?usp=sharing" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                  Rideshare Form
              </a>
          </p>
          <br>
          <p class="subtitle-lato">
            Use the spreadsheet above to coordinate rides back to campus with sisters!
          </p> <br>

          <p class="title-lato">
              <a href="https://docs.google.com/document/d/13sjxY2J0JPBAK1Wvro1BVWJoqhr0pUCKzVRmhN3_Qpw/edit?usp=sharing" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                  Recruitment Packing List
              </a>
          </p>
          <br>
          <p class="subtitle-lato">
Use this list to help you pack your bag for pre-recruitment/recruitment. Feel free to add to this list if you have additional suggestions!
          </p> <br>

        </p>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-md-4">
            <div class="subtitle-lato" style="padding-right: 20px; text-align: right">
                <p>
                    <b><big>Recruitment Schedule:</big></b><br>
                    Monday, January 8th at 5pm: <em>Pre-recruitment begins</em><br>
                    Tuesday, January 9th: <em>Pre-recruitment</em><br>
                    Wednesday, January 10th: <em>Pre-recruitment</em><br>
                    Thursday, January 11th: <em>Arete Day</em><br>
                    Friday, January 12th: <em>Philanthropy Day</em><br>
                    Saturday, January 13th: <em>Sisterhood Day</em><br>
                    Sunday, January 14th: <em>Preferences Day</em><br>
                    Monday, January 15th: <em>Unity Day &amp; Bid Day</em><br>
                </p>
            </div>
        </div>
    </div>
{% endverbatim %}
