{% verbatim %}
    <div class="name">
        <p class="title-lato" style="padding-bottom: 15px">
            <em>*Be sure to log out when you are done*</em>
        </p>
    </div>
    <div class="subtitle-lato">
        <p>
          <b><big>Outfits</big></b><br>
          Outfit checks will be every Tuesday (excluding November 21st) from 8:30-9:30pm <br>
          Additional outfit checks will be announced after Thanksgiving <br>
          <em>All outfit checks must be completed by the end of reading week </em> <br> <br>
          <p class="title-lato">
              <a href="https://docs.google.com/spreadsheets/d/1LudR3JsKlScw8vMO079eO0yAGxwR0cMKT_7MuqyIDXM/edit?usp=sharing" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                  Outfit Sharing Doc
              </a>
          </p> <br>
          <p class="title-lato">
              <a href="https://docs.google.com/spreadsheets/d/1UxHtf2EKOx4NoaION0XzJbHP0-epnzhblloPWf5kPXU/edit?usp=sharing" target="_blank" class="login-button btn" style="padding: 5px; font-size: 15px">
                  Philanthropy Shirt Doc
              </a>
              <<< Please fill this out by November 22nd <br>
          </p>
        </p>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-md-4">
            <div class="subtitle-lato" style="padding-right: 20px; text-align: right">
                <p>
                    <b><big>Recruitment Schedule:</big></b><br>
                    Monday, January 8th at 5pm: <em>Pre-recruitment begins</em><br>
                    Tuesday, January 9th: <em>Pre-recruitment</em><br>
                    Wednesday, January 10th: <em>Pre-recruitment</em><br>
                    Thursday, January 11th: <em>Arete Day</em><br>
                    Friday, January 12th: <em>Philanthropy Day</em><br>
                    Saturday, January 13th: <em>Sisterhood Day</em><br>
                    Sunday, January 14th: <em>Preferences Day</em><br>
                    Monday, January 15th: <em>Unity Day &amp; Bid Day</em><br>
                </p>
            </div>
        </div>
    </div>
{% endverbatim %}
