{% verbatim %}
    <div class="name">
        <p class="title-lato" style="padding-bottom: 15px">
            *Be sure to log out when you are done*
        </p>
    </div>
    <div class="subtitle-lato">
        <p>
            Hey there!<br>
            We’re so excited for recruitment this year! We want to make it as easy as possible for everyone to get the information that they need, so all checklists, forms, etc. will be found here! Please take a second and bookmark this as we will be adding more information throughout the semester. If you have any questions, please feel free to reach out to Anna, Elaine &amp; Felice, but be sure to take a look around this online Recruitment Notebook first—the answer might be in here!
            <br>ALAM Anna, Felice & Elaine<br><br>
            <a href="https://docs.google.com/document/d/1TEN006S9pCy__2eyymE77N3KpE0vUFwa6sfmknUkWR4/edit?usp=sharing" target="_blank" class="login-button btn" style="padding: 5px; font-size: 10px">
                CONTACT US
            </a><br><br>
        </p>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-md-4">
            <div class="subtitle-lato" style="padding-right: 20px; text-align: right">
                <p>
                    <b><big>Schedule:</big></b><br>
                    <em>Pre-Recruitment:</em><br>
                    1/8 ERC returns by 5p<br>
                    1/9 actives return by 5p<br>
                    1/10 Day Two<br>
                    1/11 Day Three & PNMs return<br>
                    <em>Recruitment:</em><br>
                    1/12 Arête Day<br>
                    1/13 Philanthropy Day<br>
                    1/14 Sisterhood Day<br>
                    1/15 Preferences Day<br>
                    1/16 Bid Day & Unity Day
                </p>
            </div>
        </div>
    </div>
{% endverbatim %}
